@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body {
        font-family: "Poppins", sans-serif;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #2E2A68;
            height: 100vh;

            .card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: #412977;
                width: 800px;
                padding: 20px;
                margin: 20px;
                box-shadow: 10px 10px 20px 2px #0000001a;
                border-radius: 20px;

                .card-img {
                    display: flex;
                    justify-content: center;
                    max-width: 300px;

                    img {
                        width: 100%;
                        border-radius: 20px;
                    }
                }

                .card-content {
                    margin-left: 50px;
                    max-width: 400px;

                    h1 {
                        color: #fff;
                        font-weight: 600;
                        font-size: 20px;
                    }

                    h3 {
                        font-weight: 500;
                        font-size: 15px;
                        color: #D0D1DB;
                    }

                    p {
                        color: #fff;
                        margin-top: 20px;
                        font-weight: 400;
                    }

                    .card-icons {
                        display: flex;
                        margin-top: 30px;

                        li {
                            margin-right: 15px;
                            list-style: none;

                            i.fa-eye {
                                color: #D0D1DB;
                            }

                            i.fa-heart {
                                color: red;
                            }

                            i.fa-message {
                                color: #D0D1DB;
                            }
                        }
                    }
                }
            }

        }
    }
}